.body__form {
    margin: 57px 120px 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: auto;
    grid-gap: 20px;

    &_alert {
        display: none;
        background-color: $red;
        margin-top: 8px;
        height: 24px;
        position: relative;

        >div {
            height: 16px;
            width: 16px;
            background-color: $red;
            position: absolute;
            top: 1px;
            left: 45%;
            top: -3px;
            rotate: 45deg;
            z-index: 0;
        }

        >p {
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: normal;
            color: $white;
            z-index: 100;
            position: sticky;
            text-align: center;
        }
        
    }

    &_area {

        >p {
            color: $grey-dark;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }

        >form {
            display: flex;

            >input {
            background: none;
            border: none;
            height: 32px;
            width: 97%;
            }
        }
    }

    &_button{
        margin: 24px 8px 0px 8px;
        height: 40px;

        >button {
            color: $grey-dark;
            width: 100%;
            height: 100%;
            border: none;
            background-color: #CED6D9;
            font-family: 'Roboto', sans-serif;;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
    
}

@include media(">desktop"){
    .body__form{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 384px 384px;
        column-gap: 100px;
    }

    .body__form_button{
        width: 256px;
        margin: 64px 0 88px 120px;
    }

    .body__form_area{
        >form{
            margin-top: 4px;
            background-color: $white;
            display: flex;
            align-items: center;

            >input{
                background-color: $grey-light;
            }

            >input:hover{
                    border: $red 2px solid;
            }

            >img {
                width: 24px;
                height: 24px;
                margin-left: 8px;
            }
        }
    }


}

@include media("<desktop", ">tablet"){
    .body__form{
        margin: 57px 32px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 300px 300px;
        column-gap: 50px;
    }

    .body__form_button{
        width: 256px;
        margin: 64px 0 88px 32px;
    }

    .body__form_area{
        >form{
            margin-top: 4px;
            background-color: $white;
            display: flex;
            align-items: center;

            >input{
                background-color: $grey-light;
            }

            >input:hover{
                    border: $red 2px solid;
            }

            >img {
                width: 24px;
                height: 24px;
                margin-left: 8px;
            }
        }
    }


}

@include media("<tablet"){
    .body__form {
        margin: 18px 24px 0;
        display: grid;
        grid-auto-rows: auto;
        grid-template-rows: auto;
        grid-gap: 20px;
    
        &_alert {
    
            >div {
                height: 16px;
                width: 16px;
                background-color: $red;
                position: absolute;
                left: 50%;
                top: 4px;
                transform: rotate(45deg) translateX(-50%);
                z-index: 0;
            }
    
            >p{
                font-size: 12px;
                line-height: 24px;
            }
            
        }
    
        &_area{
    
            >p{
                margin-bottom: 4px;
            }
    
            >form{
                background-color: #ced6d9;

                >img {
                    width: 24px;
                    height: 24px;
                    margin: 4px 6px 0 0;
                }
            }
        }
    
        &_button{
            margin: 32px 24px 0px;
            height: 40px;
        }
        
    }

}