.body__study{
    position: relative;

    .red{
        background-color: $red !important;
        color: white !important;
        
        .row{
            >div:first-child{
                color: #1CC05E !important;
            }

            >div:nth-child(2){
                color: white !important;
            }
        }

    }

    &_card{
        position: relative;
        min-height: 224px;
        margin-top: 48px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .card__info{
        background-color: #EDF1F2;

        &_row{
            align-items: center;
            margin-bottom: 60px;
            

            .row{
                margin-left: 12px;

                >div:first-child{
                    font-family: Roboto Condensed;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #F24724;
                }

                >div:nth-child(2){
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #555859;
                }
            }
        }

        >div:first-child{
            font-family: 'Roboto Condensed', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            max-width: 104px;
            margin-left: 8px;

        }

        >div:nth-child(2){
            display: flex;

            >div:first-child{
                margin: 8px 0 0 8px;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: left;
            }

        }

        .button__card{
            >button{
                min-height: 24px;
                color: white;
                width: 100%;
                border: none;
                background-color: #303233;
            }
        }
    }

    .card__background{
        background-image: url(../svg/course.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .good{
            background-color: #1CC05E !important;
        }

        .list {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 32px;
            color: $white;
            width: max-content;
            height: 32px;
            padding: 0 8px;
            background: #9B0034;
            position: absolute;
            left: 24px;
            bottom: 16px;
        }

        &_info{
            width: 96px;
            height: 48px;
            display: flex;
            align-items: center;
            background-color: $red;
            justify-content: center;
            >p{
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: center;
                color: white;
            }
        }
    }

}

@include media("<desktop"){
    .wrapper {
        margin: 0 24px 56px;
    }

    .body__study{
    
        &_card{
            min-height: 136px;
            margin-top: 40px;
            grid-template-columns: 128px 1fr;
    
            .border{
                width: 144px;
                position: absolute;
                z-index: -1;
                border: 2px solid $red;
                min-height: 110%;
                top: -8px;
                bottom: -8px;
                left: -8px;
                right: auto;
            }
        }
        
        .card__info{
            background-color: #EDF1F2;
        
            &_row{
                align-items: center;
                margin-top: 15px;
                margin-bottom: 10px;
        
                .row{
                    margin-left: 10px;
        
                    >div:first-child{
                        font-size: 18px;
                        line-height: 18px;
                        margin-bottom: -5px;
                    }
        
                    >div:nth-child(2){
                        font-family: Roboto Condensed;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #555859;
                    }
                }
            }
        
            >div:first-child{
                font-size: 14px;
                line-height: 16px;
                margin-top: 11px;
                margin-left: 8px;
            }
        
            >div:nth-child(2){
                display: flex;
        
                >div:first-child{
                    font-size: 36px;
                    line-height: 36px;
                    margin: 0 0 0 9px;
                }
        
            }
        
            .button__card{
                >button{
                    min-height: 24px;
                    color: white;
                    width: 100%;
                    border: none;
                    background-color: #303233;
                }
            }
        }
        
        .card__background{
            background-image: url(../svg/course.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        
            .good{
                background-color: #1CC05E !important;
            }

            .new {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 32px;
                text-align: center;
                color: #FFFFFF;
                width: 48px;
                height: 32px;
                background: #9B0034;
                position: absolute;
                top: -16px;
                left: 8px;
            }
        
            &_info{
                width: 120px;
                height: 32px;
                display: flex;
                align-items: center;
                background-color: $red;
                justify-content: center;
                position: absolute;
                top: -16px;
                right: 8px;

                &.place {
                    width: 72px;
                    height: 72px;
                    padding: 4px 0 0 8px;
                    background-color: #1CC05E;
                    position: absolute;
                    right: 8px;
                    top: -16px;
                    flex-direction: column;

                    p {
                        font-family: Roboto Condensed;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 16px;
                        color: #FFFFFF;
                    }

                    >div:last-child {
                        display: flex;
                        justify-content: end;
                        margin-top: -10px;

                        >p:first-child {
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 48px;
                            margin-top: 6px;
                        }

                        >p:last-child {
                            margin-top: 12px;
                        }
                    }

                }

                >p{
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: white;
                }
            }

            .list {
                height: 24px;
                font-size: 14px;
                line-height: 24px;
                right: 8px;
                left: auto;
                bottom: 8px;
            }
        }
    
        
        .card__info_course {
            display: flex;
            flex-direction: column;

            .card__info_price {
                >div {
                    width: 100%;
                    margin: 8px 7px 0 0 !important;
                }

                p {
                    font-size: 18px;
                    line-height: 24px;
                    text-align: right;
                    margin: 11px 0 0 0;
                }
            }

            .button__card {
                width: 112px;
                height: 24px;
                margin: 2px auto 0;

                >button {
                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    height: 100%;
                }
            }
        }
    }

}

@include media(">desktop"){

    .wrapper {
        max-width: 1120px;
        margin: 16px auto 0;
    }

    .wrapper:nth-child(3) {
        margin: 0 auto;
    }


    .body__study_card{
        width: 544px;
        grid-template-columns: 160px 1fr;

        .border{
            border: 2px solid $red;
            position: absolute;
            top: -16px;
            bottom: -16px;
            left: -16px;
            right: 50%;
            z-index: -1;
        }
    }

    .card__info{
        padding: 14px 10px;

        >div:first-child{
            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .card__info_row{
        >div:first-child{
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
        }
    }

    .row{
        >div:first-child{
            height: 30px;
        }
    }

    .body__title{
        margin-top: 40px !important;
        display: grid;
        grid-template-rows: min-content 1fr auto;

        >p:nth-child(2) {
            margin-top: 15px;
        }
    }

    .button{
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;

        >button {
            width: 256px;
            flex-grow: 0;
        }
    }

    .card__background {
        position: relative;

        .new {
            width: 80px;
            height: 32px;
            background-color: $red;
            position: absolute;
            top: -16px;
            left: 16px;


            >p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 32px;
                color: $white;
                text-align: center;
            }
        }
    }

    .card__background_info{
        background-color: $red;
        position: absolute;
        padding: 2px;
        width: 96px;
        height: 104px;
        right: 16px;
        top: -16px;
    }

    .card__background_info.place{
        width: 96px;
        height: 104px;
        padding: 12px 16px 0;
        background-color: #1CC05E;
        position: absolute;
        right: 16px;
        top: -16px;
        flex-direction: column;

        p {
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
        }

        >div:last-child {
            display: flex;
            justify-content: end;

            >p:first-child {
                font-weight: bold;
                font-size: 40px;
                line-height: 48px;
                margin-top: 6px;
            }

            >p:last-child {
                margin-top: 12px;
            }
        }

    }

    .card__info_course {
        display: flex;
        flex-direction: column;

        .card__info_price {
            >div {
                width: 100%;
                margin: 8px 7px 0 0 !important;
            }

            p {
                font-size: 24px;
                line-height: 24px;
                text-align: right;
                margin: 46px 0 0 0;
            }
        }

        .button__card {
            width: 128px;
            height: 32px;
            margin: 11px auto 0;

            >button {
                font-family: Roboto Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                height: 100%;
            }
        }
    }
}