.body__title{
    margin: 16px 8px 0px 16px;
    grid-template-rows: min-content auto;
    >p:first-child{
        font-family: Roboto Condensed;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
    }
    >p:nth-child(2){
        margin-top: 7px;
        font-family: Roboto Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #303233;
        margin-bottom: 30px;
    }

    .button{

        >button{
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: normal;
            min-height: 40px;
            padding: 4px;
            color: $white;
            background-color: #303233;
            border: none;
            width: 256px;
        }
    }
}

@include media("<desktop", ">tablet"){
    .body__title{
        
        >p:first-child{
            font-size: 18px;
            line-height: 26px;
        }
        >p:nth-child(2){
            margin-top: 7px;
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #303233;
            margin-bottom: 10px;
        }
    
        .button{
            height: 32px;
    
            >button{
                min-height: 32px;
                padding: 0;
                color: $white;
                background-color: #303233;
                border: none;
                width: 156px;
                font-size: 14px;
            }
        }
    }
    
}

@include media("<tablet"){
    .body__title{
        margin: 16px 0 0;
        grid-template-rows: min-content auto;

        >p:nth-child(2){
            margin-bottom: 9px;
        }
    
        .button{

            >button{
                font-size: 14px;
                line-height: 24px;
                color: $white;
                height: 24px;
                min-height: auto;
                padding: 0;
                margin-bottom: 8px;
                border: none;
                width: 100%;
            }
        }
    }
}