footer{
    .footer{
        margin: 42px 58px 8px 58px;
        background-color: $black;

        p{
            margin: 0;
        }

        &__grid{
            display: grid;
        }

        &__content{
            font-family: 'Roboto Condensed', sans-serif;
            color: white;

            &_moscow{
                margin: 40px 16px 0px 16px;
                width: 50%;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;                

             .title{
                    font-size: $font-med;
                    border-bottom: 1px solid #303233;
                    font-weight: 700;
                    }
            p:not(.title){
                font-family: Roboto Condensed;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
            }                
            }

            &_saintp{
                margin: 40px 16px 0px 16px;
                width: 50%;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
               .title{
                    font-size: $font-med;
                    border-bottom: 1px solid #303233;
                    }
                    p:not(.title){
                        font-family: Roboto Condensed;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 24px;
                    }    
            }
        }

        &__copyright{
            border-top: 1px solid #FFFFFF;
            color: white;
            width: 90%;
            margin-left: 24px;
            padding-bottom: 10px;

            >p{
                font-family: Roboto;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
}

@include media("<desktop"){
    .footer__grid{
        grid-template-columns: 1fr 1fr;
    }

    .footer__content_moscow{
        margin-left: 50px !important;

        .title{
            margin-top: 20px;
        }

        >div{
            >p:nth-child(2){
                margin-top: 10px;
            }
        }
    }

    .footer__content_saintp{
        margin-left: 50px !important;

        .title{
            margin-top: 20px;
        }

        >div{
            >p:nth-child(2){
                margin-top: 10px;
            }
        }
    }
}

@include media(">desktop"){

    .footer__grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer__copyright{
        margin-left: 64px;
    }

    .footer__content:first-child{
        display: flex;
        flex-direction: column;
        padding: 40px;

        >a{
            text-decoration: none;
            text-decoration: none;
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $grey-light;

        }
    }

    .footer__content:nth-child(2){
        display: flex;
        flex-direction: column;
        padding: 40px;

        >a{
            text-decoration: none;
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $grey-light;

        }
    }

    .footer__content_moscow{
        grid-gap: 20px;

        >div{
            >p:nth-child(2){
                margin-top: 10px;
            }
        }
        .title{
            color: white;
            border: none !important;
            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }

        >p{
            color: #CED6D9;
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }

        >p:not(.title){            
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .footer__content_saintp{
        grid-gap: 20px;

        >div{
            >p:nth-child(2){
                margin-top: 10px;
            }
        }
        
        .title{
            color: white;
            border: none !important;
            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }

        >p{
            color: #CED6D9;
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }

        >p:not(.title){            
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

}