footer{
    .footer{
        margin: 40px 56px 56px;
        padding-bottom: 1px;
        background-color: $black;

        &__grid{
            display: grid;
        }

        &__copyright{
            border-top: 1px solid #FFFFFF;
            color: white;
            margin: 24px 64px 8px;

            >p{
                font-family: Roboto;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                margin-top: 6px;
            }
        }
    }
}

@include media("<desktop"){
    .footer__grid{
        grid-template-columns: 1fr 1fr;
    }

    .footer__content_moscow{
        margin-left: 50px !important;

        .title{
            margin-top: 20px;
        }

        >div{
            >p:nth-child(2){
                margin-top: 10px;
            }
        }
    }

    .footer__content_saintp{
        margin-left: 50px !important;

        .title{
            margin-top: 20px;
        }

        >div{
            >p:nth-child(2){
                margin-top: 10px;
            }
        }
    }
}

@include media(">desktop"){

    .footer__grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 48px;
    }

    .footer__copyright{
        margin-left: 64px;
    }

    .footer__content{
        width: 256px;
        margin: 39px 16px 0;
        display: flex;
        flex-direction: column;

        >p {
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
            margin-bottom: 9px;
        }
        >a{
            text-decoration: none;
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $grey-light;
        }
    }

    .footer__content_saintp,
    .footer__content_moscow {
        grid-gap: 20px;

        >div{
            >p{
                color: #CED6D9;
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: $grey-light;
            }

            >p:not(.title){            
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: $grey-light;
            }
        }

        .title{
            color: white;
            border: none !important;
            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 10px;
        }
        
        >div:nth-child(2),
        >div:nth-child(3){
            margin-top: 3px;
            .title {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }

    .footer__content_saintp {
        >div:first-child {
            margin-bottom: 25px;
        }
    }

}