.main{
    z-index: 0;
    margin: 0 56px;
    &__image{
        background-repeat: no-repeat;
        position: relative;
    }
}

@include media(">desktop") {
    .main {
        position: relative;

        &__image {
            min-height: 784px;
            background-position: center;
            width: 1120px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        &__image_text {
            height: 488px;
            min-height: 170px;
            background-color: $red;
            position: absolute;
            top: 200px;
            left: 0;
            right: 0;
            z-index: -1;
        }
    
        &__info {
            width: 100%;
            height: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            overflow: hidden;

            .swiper-wrapper {
                z-index: 0;
            }

            .swiper-slide {
                position: relative;
            }

            &_image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            &_button {
                height: 56px;
                width: 56px;
                margin-bottom: 128px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                position: absolute;
                top: 512px;
                cursor: pointer;

                >img{
                    width: 8.49px;
                    height: 14.14px;
                }

                &_left {
                    left: -40px;
                }

                &_right {
                    right: -40px;
                }
            }
    
            &_text {
                max-width: 250px;
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 88px;
                left: 576px;

                >div {
                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 24px;
                    color: $white;
                    align-items: center;
                }
                >p:first-child {
                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 48px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    text-align: left;
                    margin-bottom: 34px;
                }
                >p {
                    color: $white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    letter-spacing: 0.2em;
                    text-align: left;
                    margin-bottom: 0px;
                }
                >button {
                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: $white;
                    width: 160px;
                    height: 40px;
                    margin-top: 20px;
                    background-color: $red;
                    border: none;
                }
            }

            &_slides.swiper-pagination-bullets.swiper-pagination-horizontal {
                width: max-content;
                min-height: 448px;
                margin: 0;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 248px;
                bottom: auto;
                right: 132px;
                left: auto;

                .swiper-pagination-bullet {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 48px;
                    color: $white;
                    margin: 0;
                    display: inline;
                    width: max-content;
                    height: auto;
                    background: none;
                    opacity: 1;

                    &-active {
                        color: $red;
                    }
                }
            }
        }
    }
}

@include media("<desktop", ">tablet") {
    .main {
        position: relative;
        margin: 0 32px;

        &__image {
            min-height: 434px;
            background-position: center;
            width: 620px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        &__image_text {
            height: 254px;
            min-height: 170px;
            background-color: $red;
            position: absolute;
            top: 128px;
            left: 0;
            right: 0;
            z-index: -1;
        }
    
        &__info {
            width: 100%;
            height: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            overflow: hidden;

            .swiper-wrapper {
                z-index: 0;
            }

            .swiper-slide {
                position: relative;
            }

            &_image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            &_button {
                height: 32px;
                width: 32px;
                margin-bottom: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                position: absolute;
                top: 280px;
                cursor: pointer;

                >img{
                    width: 8.49px;
                    height: 14.14px;
                }

                &_left {
                    left: -24px;
                }

                &_right {
                    right: -24px;
                }
            }
    
            &_text {
                max-width: 200px;
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 48px;
                left: 296px;

                >div {
                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 18px;
                    color: $white;
                    align-items: center;
                }
                >p:first-child {
                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 40px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    text-align: left;
                    margin-bottom: 34px;
                }
                >p {
                    color: $white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    letter-spacing: 0.2em;
                    text-align: left;
                    margin-bottom: 0px;
                }
                >button {
                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: $white;
                    width: 160px;
                    height: 40px;
                    margin-top: 20px;
                    background-color: $red;
                    border: none;
                }
            }

            &_slides.swiper-pagination-bullets.swiper-pagination-horizontal {
                width: max-content;
                min-height: 348px;
                margin: 0;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 98px;
                bottom: auto;
                right: 50px;
                left: auto;

                .swiper-pagination-bullet {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 36px;
                    color: $white;
                    margin: 0;
                    display: inline;
                    width: max-content;
                    height: auto;
                    background: none;
                    opacity: 1;

                    &-active {
                        color: $red;
                    }
                }
            }
        }
    }
}

@include media("<tablet"){
    .main{
        height: 368px;
        margin: 0 8px;
        position: relative;

        &__image{
            width: 90%;
            height: 100%;
            margin: 0 auto;
            background-position: center;
            display: flex;
            flex-direction: column;

            &_text {
                height: 170px;
                margin: 0;
                background: #9B0034;
                position: absolute;
                top: 144px;
                left: 0;
                right: 0;
                z-index: -1;
            }
        }

        
        
    
        &__info {
            width: 100%;
            height: 100%;
            flex-grow: 1;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            overflow: hidden;

            .swiper-slide {
                position: relative;
            }

            &_image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            &_button {
                z-index: 200;
                height: 24px;
                width: 24px;
                margin-bottom: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                position: absolute;
                top: 224px;
                cursor: pointer;

                >img{
                    width: 5px;
                    height: 8px;
                }

                &_left {
                    left: -8px;
                }

                &_right {
                    right: -8px;
                }
            }
    
            &_text {
                max-width: 128px;
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 56px;
                left: 72px;

                >div {
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    line-height: 24px;
                    color: $white;
                }
                >p:first-child {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 8px;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                }
                >p {
                    color: $white;
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.2em;
                    text-align: left;
                    margin-bottom: 0px;
                }
                >button {
                    font-family: Roboto Condensed;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    text-align: center;
                    color: $white;
                    width: 100%;
                    height: 24px;
                    margin-top: 9px;
                    background-color: $red;
                    border: none;
                }
            }
        }

    }
}