.main-panel{
    display: grid;
    background-color: $black;

    &__info_block{
        display: none;
    }

}

@include media(">desktop"){
    .main-panel{
        min-height: 48px;
        margin-left: 56px;
        margin-right: 56px;
        grid-template-columns: 240px auto 214px;

        &__logo{
            width: 131px;
            margin-left: 64px;
            display: flex;

            >img{
                margin-top: 4px;
                width: 100%;
            }
        }

        &__link{
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
            align-items: center;
            >a{
                font-family: Roboto Condensed;
                @include text-st-pc;
                color: $white;  
            }
            >a:not(:first-child){
                margin-left: 33px;
            }
        }

        &__search{
            margin-top: 8px;
            display: flex;
            justify-content: center;

            >form{
                width: 130px;
                height: 33px;
                padding: 1px;
                border: #303233 2px solid;

                >input{
                    width: 80%;
                    background: none;
                    border: none;
                    color: #303233;
                    padding-left: 10px;
                    @include text-st-pc
                }

                >button{
                    margin-right: 6px;
                    background: none;
                    border: none;
                }
            }
        }
    }

}

@include media("<desktop"){
    .main-panel{
        position: relative;
        min-height: 40px;
        margin-left: 8px;
        margin-right: 8px;

        &__logo{
            width: 112px;
            margin-left: 16px;
            display: flex;

            >img{
                margin-top: 4px;
                width: 100%;
            }
        }
    }
}

