@mixin button($w, $h) {
    background-color: white;
    border: 3px solid $red;
    width: $w;
    height: $h;
    color: $red;
    cursor: pointer;
}

.navbar {
    display: flex;
    font-family: 'Roboto', sans-serif;

    
    .navbar__icon{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        .navbar__icon_elem1{
            background-color: $black;
            border-radius: 50%;
        }

        .navbar__icon_elem2{
            background-color: $red;
            border-radius: 50%;
        }
    }

    .navbar__city{
        display: flex;
        justify-content: start;
        align-items: center;

        &_item{
            margin-left: 2px;
            height: 14px;
            width: 12px;
            >img{
                width: 100%;
                height: 100%;
            }
        }

        &_text{
            width: 5.8vh;
        }
    }
}

.navbar__form{
    display: none;
}

@include media("<desktop"){
    .navbar{
        margin-left: 2.4vh;
        min-height: 4vh;

        .navbar__icon{
            margin-right: 24px;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
    
            .navbar__icon_login{
                width: 16px;
                height: 16px;
                >img{
                    width: 100%;
                    height: 100%;
                }
            }
    
            .navbar__icon_elem1{
                margin-left: 8px;
                width: 16px;
                height: 16px;
                background-color: $black;
                border-radius: 50%;
            }
    
            .navbar__icon_elem2{
                margin-left: 8px;
                width: 16px;
                height: 16px;
                background-color: $red;
                border-radius: 50%;
            }
        }


        &__button{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .button-nav{
                @include button(128px, 24px);

                >p{
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }
    }

    .navbar__city{
        &_text{
            @include text-st
        }
    }
}

@include media(">desktop"){
    .navbar{
        margin-left: 120px;
        min-height: 7.2vh;

            
    .navbar__icon{
        margin-left: 72px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        .navbar__icon_login{
            width: 24px;
            height: 24px;
            >img{
                width: 100%;
                height: 100%;
            }
        }

        .navbar__icon_elem1{
            margin-left: 16px;
            width: 24px;
            height: 24px;
            background-color: $black;
            border-radius: 50%;
        }

        .navbar__icon_elem2{
            margin-left: 16px;
            width: 24px;
            height: 24px;
            background-color: $red;
            border-radius: 50%;
        }
    }


        &__button{
            width: 69%;
            display: flex;
            justify-content: end;
            align-items: center;
    
            .button-nav{
                @include button(160px, 40px);
                @include text-st-pc;
            }
        }
    }

    .navbar__city{
        &_text{
            @include text-st-pc
        }
    }

}