.navbar {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 7.2vh;

    .navbar__city{
        display: flex;
    }

}

.navbar__form{
    display: none;
}