@mixin button($w, $h) {
    background-color: white;
    border: 3px solid $red;
    width: $w;
    height: $h;
    color: $red;
    cursor: pointer;
}

@mixin icon($s,$m){
    margin-left: $m;
    width: $s;
    height: $s;
    border-radius: 50%;
}

.navbar {
    display: flex;
    font-family: 'Roboto', sans-serif;

    
    .navbar__icon{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        >div {
            cursor: pointer;
        }

        .navbar__icon_elem1{
            background-color: $black;
        }

        .navbar__icon_elem2{
            background-color: $red;
        }
    }

    .navbar__city{
        display: flex;
        justify-content: start;
        align-items: center;

        &_item{
            margin-left: 4px;
            height: 14px;
            width: 12px;
            >img{
                width: 100%;
                height: 100%;
            }
        }
    }
}


@include media("<desktop"){
    .navbar{
        margin-left: 2.4vh;
        min-height: 40px;

        .navbar__icon{
            margin-right: 24px;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
    
            .navbar__icon_login{
                width: 16px;
                height: 16px;
                >img{
                    width: 100%;
                    height: 100%;
                }
            }
    
            .navbar__icon_elem1{
                background-color: $black;
                @include icon(16px, 8px);
            }
    
            .navbar__icon_elem2{
                @include icon(16px, 8px);
                background-color: $red;
            }
        }


        &__button{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .button-nav{
                @include button(128px, 24px);

                >p{
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }
    }

    .navbar__city{
        &_text{
            @include text-st
        }
    }
}

@include media(">desktop"){
    .navbar{
        margin: 0 120px;
        min-height: 72px;

            
    .navbar__icon{
        margin-left: 72px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        .navbar__icon_login{
            width: 24px;
            height: 24px;
            >img{
                width: 100%;
                height: 100%;
            }
        }

        .navbar__icon_elem1{
            @include icon(24px, 16px);
            background-color: $black;
        }

        .navbar__icon_elem2{
            @include icon(24px, 16px);
            background-color: $red;
        }
    }


        &__button{
            margin-left: auto;
            display: flex;
            justify-content: end;
            align-items: center;
    
            .button-nav{
                @include button(160px, 40px);
                @include text-st-pc;
            }
        }
    }

    .navbar__city{
        &_text{
            @include text-st-pc;
            letter-spacing: 0.07em;
        }
    }

}