.body__test{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    margin-bottom: 98px;

    &_radio{
        margin-top: 16px;
        margin-left: 96px;
    }

    &_text{
        display: flex;
        min-height: 88px;
        background-color: #EDF1F2;

        .number{
            min-width: 96px;
            font-family: Roboto Condensed;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #9DA3A6;
            padding-left: 15px;
            padding-right: 8px;

            .little{
                font-size: 14px;
                position: relative;
                top: -14px;
            }
        }

        .text{
            display: flex;
            align-items: center;
            width: 782px;
            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #303233;
        }
    }

        .label{
            cursor: pointer;
    
            .radio{
                display: none;
            }
    
            .fake{
                display: inline-block;
                width: 24px;
                height: 24px;
                border: 1px solid #9DA3A6;
                position: relative;
                border-radius: 50%;
            }
    
            .fake::before{
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 12px;
                height: 12px;
                background-color: $red;
                opacity: 0;
                transition: .1s;
                border-radius: 50%;
            }
    
            .text{
                position: relative;
                top: -5px;
                margin-left: 12px;
                font-family: Roboto Condensed;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
            }
    
            .radio:checked + .fake::before{
                opacity: 1;
            }
        }

        .label:last-child{
            margin-left: 60px;
        }
}