.body__material{
    display: flex;
    margin: 40px 8px 16px 8px;
    background-color: #EDF1F2;
    padding: 8px;

    >p{
        margin-left: 16px;
        font-family: Roboto Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
}