.body__menu{
    background-color: $grey-light;
    min-height: 32px;
    margin-left: 8px;
    margin-right: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &_block{
    >p{
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;

    }
    >div{
        width: 16px;
        height: 16px;
        background-color: black;
        margin-left: 45%;
        rotate: 45deg;
        margin-top: 0px;
        position: relative;
        top: 6px;
        rotate: 45deg;
    }

}
}