.body__title{
    margin: 16px 8px 0px 8px;
    >p:first-child{
        width: 272px;
        font-family: Roboto Condensed;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
    }
    >p:nth-child(2){
        margin-top: 7px;
        font-family: Roboto Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #303233;
    }

    .button{
        margin-top: 9px;
        background-color: #303233;

        >button{
            padding: 4px;
            color: $white;
            background: none;
            border: none;
            width: 100%;
        }
    }
}