.body__study{
    margin-left: 8px;
    margin-right: 8px;

    &_card{
        min-height: 224px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 50% 50%;

}

.card__info{
    background-color: #EDF1F2;
    padding: 8px;

    &_row{
        align-items: center;
        

        .row{
            margin-left: 8px;

            >div:first-child{
                font-family: Roboto Condensed;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: left;
                color: #F24724;
            }

            >div:nth-child(2){
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #555859;
            }
        }
    }

    >div:first-child{
        margin-left: 6px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;

    }

    >div:nth-child(2){
        display: flex;

        >div:first-child{
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: left;
        }

    }
}

.card__background{
    background-image: url(../svg/course.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

}

@include media(">desktop"){
    .body__study_card{
        grid-template-columns: 30% 70%;
    }

    .card__info_row{
        >div:first-child{
            margin-top: 11px;
        }
    }

    .row{
        >div:first-child{
            height: 30px;
        }
    }

    .card__info{
        >div:first-child{
            font-family: Roboto Condensed;
            font-size: 16px !important;
            font-style: normal;
            font-weight: 700;
            line-height: 24px !important;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .body__title{
        margin-top: 40px !important;
        display: grid;
        grid-template-rows: 1fr 1fr auto;
    }

    .button{
        width: 40%;
    }
}