@import "_breakpoints.scss";

html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  p{
    margin: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: $font-sm;
  }

  @include media('<=desktop'){
    .hide-for-mobile{
      display: none;
      >a{
        display: none;
      }
      >form{
        display: none;
      }
    }
  }

  @include media('>1280px'){
    body{
      font-size: $font-med;
    }

    .hide-for-desktop{
      display: none;
    }
  }
