.body{
    margin: 0px 8px 0px 8px;

    &__image{
        min-height: 368px;
        position: relative;
        background-image: url(../svg/main-img.png);
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        background-size: 95%;
    }

    &__image_text{
        margin-top: 144px;
        min-height: 170px;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 170px;
        background-color: $red;
    }

    &__info{
        padding-top: 234px;
        display: flex;
        justify-content: space-between;
        z-index: 200;
        height: 170px;
        width: 100%;
        align-items: center;

        &_button{
            height: 24px;
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            >img{
                height: 14.142135620117188px;
                width: 8.485280990600586px;
            }
        }

        &_button:first-child{
            margin-left: 1%;
        }

        &_button:last-child{
            margin-right: 1%;
        }

        &_text{
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-bottom: 8%;
            >div{
                color: $white;
                display: flex;
                align-items: center;
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                height: 41px;
            }
        >p:first-child{
            font-family: Roboto Condensed;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.2em;
            text-align: left;
        }
        >p{
            color: $white;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.2em;
            text-align: left;
            margin-bottom: 0px;
        }
        >button{
            background-color: $red;
            border: none;
            width: 100%;
            color: white;
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
    }
}


@include media(">desktop"){
    .body{

        &__image{
            min-height: 782px;
            background-image: url(../svg/main-img-pc.jpg);

            &_text{
                margin-top: 200px;
                min-height: 488px;
            }

            .body__info{
                padding-top: 560px;

                &_button{
                    height: 56px;
                    width: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $white;
                    >img{
                        height: 14.142135620117188px;
                        width: 8.485280990600586px;
                    }
                }

                &_slides{
                    margin-bottom: 200px;
                    >p{
                        color: white;
                        font-family: Roboto;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 48px;
                        letter-spacing: 0em;
                        text-align: left;
                    }

                    >p:nth-child(2){
                        color: $red;
                    }
                }

                &_text{
                    width: 15%;
                    margin-left: 32%;

                    >p:first-child{
                        font-family: Roboto Condensed;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 48px;
                        letter-spacing: 0.2em;
                        text-align: left;
                    }

                    >div{
                        font-family: Roboto Condensed;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: center;
                    }

                    >button{
                        width: 50%;
                    }
                }

                &_button:first-child{
                    margin-left: 1%;
                }
        
                &_button:last-child{
                    margin-right: 1%;
                }
            }
        }
    }

}