.body__menu{
    margin-top: -4px;
    background-color: $grey-light;
    min-height: 32px;
    margin-left: 8px;
    margin-right: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 500;
    position: relative;

    &_block:first-child{
        background-color: black;

        >p{
            color: white;
        }

        >div{
            width: 16px;
            height: 16px;
            background-color: black;
            margin-left: 48%;
            rotate: 45deg;
            margin-top: 0px;
            position: relative;
            top: 6px;
            rotate: 45deg;
        }
    }

    &_block{
        position: relative;
    >p{
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;

    }

}
}

@include media("<desktop"){
    .plus{
        display: none;
    }
}

@include media(">desktop"){
    .body__menu_block{
        >p{
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

    .plus{
        top: -10px;
        left: 80%;
        background-color: $red;
        padding: 4px;
        position: absolute;
        color: white;
        font-family: Roboto Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;

    }
}
