.body{
    margin-left: 8px;
    margin-right: 8px;

    &__image{
            width: 100%;

            &_block{
                z-index: 200;
                width: 95%;
                >img{
                    width: 100%;
                }
            }

            &_text228{
                position: absolute;
                z-index: 200;
                left: 10%;
                color: $white;
                width: 72px;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
            }

            &_text1{
                font-family: Roboto Condensed;
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                >p{
                    margin-bottom: 10px;
                }
            }

            &_image{
                position: sticky;
                justify-content: center;
                display: flex;
                z-index: 100;

                >img{
                    margin-right: 16px;
                    margin-left: 16px;
                    z-index: 100;
                    width: 93.5%;
                }
            }
        &_background{
                background-color: #9B0034;
                width: 100%;
                height: 75%;
                z-index: 0;
                position: absolute;
                margin-top: 6%;
        }
    }
}


@include media(">desktop"){
    .body__image_text1{
        font-family: Roboto Condensed;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }

    .body__image_text2{
        font-family: Roboto Condensed;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }

    .body__image_background{
        margin-top: 11%;

    }
}