@import "_variables.scss";

.main-panel{
    display: flex;
    background-color: $black;
    margin-left: 8px;
    height: 100%;
    margin-right: 8px;

    .hide-for-desktop{
        margin-right: 8px;
        position: sticky;
        left: 90%
    }

    .main-panel__logo{

        >img{
                margin-top: 13px;
                margin-left: 15px;
        }
    }

    &__menu{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: end;
        margin-top: 5px;

        >button{
            padding: 0;
        }
    }

    .main-panel__link{
        align-items: center;
        display: flex;

        >a{
        margin-left: 10px;
        color: $white;
        text-decoration: none;
        font-family: Roboto Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

        }
    }

    .main-panel__search{
        align-items: center;
        display: flex;
    }

    .main-panel__info{
        visibility: hidden;
        height: 568px;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 400;
        background: #303233;
        width: 90%;

        &_block{
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 54px 24px 0px 24px;
        }

        &_search{
            margin-top: 34px;
            border: 2px solid #CED6D9;
            width: 90%;


            .search{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #CED6D9;
                border: none;
                background: none;

            }

            .form{
                display: flex;
            }

            .button__handler{
                width: 100%;    
                display: flex;
                align-content: center;
                justify-content: end;
            }            

            .button{
                background: none;
                border: none;
            }
            
        }

        &_link{
            display: flex;
            flex-direction: column;
            margin-top: 32px;

            >a{
                margin-top: 24px;
                color: $white;
                text-decoration: none;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
}

@include media(">desktop"){
    .main-panel{
        justify-content: space-between;

        &__logo{
            margin-left: 64px;
        }

        &__link{
            width: 76%;
            justify-content: space-evenly;
        }

        &__search{
            margin-right: 80px;

            >form{
                padding: 1px;
                border: #303233 2px solid;

                >input{
                    width: 84%;
                    background: none;
                    border: none;
                    color: white;
                }

                >button{
                    background: none;
                    border: none;
                }
            }
        }
    }

}