.body{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;

    &__image{
        width: 100%;
        position: relative;
        z-index: 1;

        &_image{
            width: 100%;
        }

        &_test{
            position: absolute;
            color: white;
        }

        &_img{
            >img{
                width: 100%;
            }
        }

    }

    &__background{
        width: 97%;
        min-height: 94px;
        background-color: $red;
        z-index: 0;
        position: absolute;
    }
    }
