.body{

    &__image{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 8px 0px 8px;
        >img{
            width: 90%;
            z-index: 100;
        }
    }

    &__image_text{
        z-index: 0;
        margin-top: -228px;
        width: 100%;
        height: 170px;
        background-color: $red;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        z-index: 200;
        margin-top: -171px;
        height: 170px;
        width: 100%;
        align-items: center;

        &_button{
            width: 7%;
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            >img{
                width: 40%;
            }
        }

        &_button:first-child{
            margin-left: 3%;
        }

        &_button:last-child{
            margin-right: 3%;
        }

        &_text{
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-bottom: 8%;
            >div{
                color: $white;
                display: flex;
                align-items: center;
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                height: 41px;
            }
        >p:first-child{
            font-family: Roboto Condensed;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.2em;
            text-align: left;
        }
        >p{
            color: $white;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.2em;
            text-align: left;
            margin-bottom: 0px;
        }
        >button{
            background-color: $red;
            border: none;
            width: 100%;
            color: white;
            font-family: Roboto Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
    }
}