.body__form{
    margin: 17px 8px 0px 8px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: auto;
    grid-gap: 20px;

    &_alert{
        display: none;
        background-color: $red;
        margin-top: 8px;
        height: 24px;
        position: relative;

        >div{
            height: 16px;
            width: 16px;
            background-color: $red;
            position: absolute;
            top: 1px;
            left: 45%;
            top: -3px;
            rotate: 45deg;
            z-index: 0;
        }

        >p{
            color: $white;
            z-index: 100;
            position: sticky;
            text-align: center;
        }
        
    }

    &_area{

        >p{
            color: $grey-dark;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }

        >form{
            display: flex;
            background-color: $grey-light;

            >input{
            background: none;
            border: none;
            height: 27px;
            width: 97%;
            }
        }

        >form:hover{
            border: $red 2px solid;
        }
    }

    &_button{
        margin-top: 15px;
        height: 40px;
        >button{
            color: $grey-dark;
            width: 100%;
            height: 100%;
            border: none;
            background-color: #CED6D9;
            font-family: 'Roboto', sans-serif;;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
    
}