.body{
    margin-left: 8px;
    margin-right: 8px;

    &__image{
            width: 100%;
            position: relative;

            &_text{
                position: absolute;
                z-index: 200;
                left: 48px;
                color: $white;
                width: 72px;
                top: -10px;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
            }

            &_text1{
                font-family: Roboto Condensed;
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                >p{
                    margin-bottom: 10px;
                }
            }

            &_image{
                position: sticky;
                justify-content: center;
                display: flex;
                width: 100%;
                z-index: 100;

                >img{
                    margin-right: 16px;
                    margin-left: 16px;
                    z-index: 100;
                    width: 100%;
                }
            }
        &_background{
                background-color: #9B0034;
                width: 100%;
                height: 75%;
                z-index: 0;
                position: absolute;
                top: 15px;
        }
    }
}